@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');
:root{
    --color-barra-lateral:rgb(255,255,255);

    --color-texto:rgb(0,0,0);
    --color-texto-menu:rgb(134,136,144);

    --color-menu-hover:rgb(238,238,238);
    --color-menu-hover-texto:(0,0,0);

    --color-linea:rgb(241,241,241);

    --color-switch-base:rgb(201,202,206);
    --color-switch-circulo:rgb(241,241,241);

    --colo-shadow:rgb(186, 186, 186);

}

.dark-mode{
    --color-barra-lateral:rgb(44,45,49);

    --color-texto:rgb(255,255,255);
    --color-texto-menu:rgb(110,110,117);

    --color-menu-hover:rgb(0,0,0);
    --color-menu-hover-texto:rgb(238,238,238);

    --color-linea:rgb(71,70,78);

    --color-switch-base:rgb(39,205,64);
    --color-switch-circulo:rgb(255,255,255);

    --colo-shadow:rgb(0, 0, 0);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background-color: var(--color-barra-lateral);
}

.barra-lateral{
    width: 250px;
    height: 100%;
    overflow: hidden;
    padding: 20px 15px;
    background-color: var(--color-barra-lateral);
    transition: width 0.5s ease,background-color 0.3s ease;
    box-shadow: 5px 0px 10px var(--colo-shadow);
}

.mini-barra-lateral{
    width: 80px;
}

.barra-lateral span{
    font-size: 18px;
    width: 100px;
    white-space: nowrap;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease, width 0.5s ease;
}

.barra-lateral span.oculto{
    opacity: 0;
    width: 0;
}

/* Nombre de la pagina */
.barra-lateral .logo-pagina{
    width: 100%;
    height: 45px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

#logo{
    width: 50px;
    cursor: pointer;
}

.barra-lateral .logo-pagina .brand-wise{
    width: 100px;
}

.barra-lateral .logo-pagina span{
    margin-left: 5px;
    font-size: 25px;
}

/* menu vanegacion */
.barra-lateral .navegacion li{
    list-style: none;
    display: flex;
    margin-bottom: 5px;
}

.barra-lateral .navegacion a{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    color: var(--color-texto-menu);
}

.barra-lateral .navegacion a:hover{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}

.barra-lateral .navegacion ion-icon{
    min-width: 50px;
    font-size: 20px;
}

/* linea */
.barra-lateral .linea{
    width: 100%;
    height: 1px;
    background-color: var(--color-linea);
}

/* modo oscuro */
.barra-lateral .modo-oscuro{
    width: 100%;
    margin-bottom: 230px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.barra-lateral .modo-oscuro .info{
    width: 150px;
    height: 45px;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: var(--color-texto-menu);
}

.barra-lateral .modo-oscuro ion-icon{
    width: 50px;
    font-size: 20px;
}

/* switch */
.barra-lateral .modo-oscuro .switch{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 45px;
    cursor: pointer;
}

.barra-lateral .modo-oscuro .base{
    position: relative;
    display: flex;
    align-items: center;
    width: 35px;
    height: 20px;
    background-color: var(--color-switch-base);
    border-radius: 50px;
}

.barra-lateral .modo-oscuro .circulo{
    position: absolute;
    width: 18px;
    height: 90%;
    background-color: var(--color-switch-circulo);
    border-radius: 50px;
    left: 2px;
    transition: left 0.5s ease;
}

.barra-lateral .modo-oscuro .circulo.prendido{
    left: 15px;
}

/* usuario */
.barra-lateral .usuario{
    width: 100%;
    display: flex;
}

.barra-lateral .usuario img{
    width: 50px;
    min-width: 50px;
    border-radius: 10px;
}

.barra-lateral .usuario .info-usuario{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-texto);
    overflow: hidden;
}

.barra-lateral .usuario .nombre-nivel{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.barra-lateral .usuario .nombre{
    font-size: 15px;
    font-weight: 600;
}

.barra-lateral .usuario .nivel{
    font-size: 15px;
}

.barra-lateral .usuario ion-icon{
    font-size: 20px;
}