@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

*{
    font-family: 'Outfit', sans-serif;
}

p {
    font: 22pt sans-serif;
    margin: 20px 20px 0px 20px;
    font-size: 2rem;
    padding: 4rem;
    padding-top: 8%;
}


#juego {
    border: 1px solid black;
    padding: 20px;
    float: left;
    margin: 30px 20px;
}

#juego div {
    width: 100%;
    margin: 0 auto;
}



#juego .puzzleSquare {
    height: 30px;
    width: 30px;
    text-transform: uppercase;
    background-color: white;
    border: 0;
    font-family: 'Outfit', sans-serif;
}

button::-moz-focus-inner {
    border: 0;
}



#juego .selected {
    background-color: orange;
}



#juego .found {
    background-color: blue;
    color: white;
}

#juego .solved {
    background-color: greenyellow;
    color: white;
}


/* indicates that all words have been found */

#juego .complete {
    background-color: green;
}

#Palabras {
    padding-top: 21px;
    font-family: 'Outfit', sans-serif;
}

#Palabras ul {
    list-style-type: none;
}

#Palabras li {
    padding: 3px 0;
    font-family: 'Outfit', sans-serif;

}


/* indicates that the word has been found */

#Palabras .wordFound {
    text-decoration: line-through;
    color: gray;
}  
  ion-icon{
    color: rgb(178,110,255);
    font-size: 70px;
    margin: 40px;
    position: fixed;
  }
  
  .mancha-uno{
    width: 400px;
    height: 50%;
    position: fixed;
  }
  
  .mancha-dos {
    width: 400px;
    height: 50%;
    position: fixed;
    left: 81%;
    top: 50%;
  }
  
  .mancha-tres {
    width: 400px;
    height: 50%;
    position: fixed;
    left: 90%;
    top: 20%;
  }